name: Build Artifacts

on: workflow_call

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Move Env Variable
        run: cp ./.env.sample ./.env.local

      - name: Install PHP Dependencies
        uses: php-actions/composer@v6
        with:
          php_version: ${{ env.PHP_VERSION }}
          php_extensions: ldap xsl zip

      - name: Install NPM Packages
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
      - run: npm install
      - run: npm run build

      - name: Build JS for the Websocket
        working-directory: nodejs/
        run: npm install

      - name: Upload articats
        uses: actions/upload-artifact@v3
        with:
          name: jitsi-admin_${{github.run_number}}
          path: .
