name: Build Pipeline


on:
  pull_request:
    branches:
      - main

jobs:
  call-workflow-passing-data:
    uses: holzi1005/test-workflow/.github/workflows/workflow-a.yml@main
  
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Create new Release
      uses: actions/create-release@v1
      id: create_release
      with:
        draft: false
        prerelease: false
        release_name: Release ${{github.run_number}}
        tag_name: ci_${{github.run_number}}
      env:
        GITHUB_TOKEN: ${{ secrets.token }}

    - name: Upload Asset to Release
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.token }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: jitsi-admin-websocket.zip
        asset_name: jitsi-admin-websocket.zip
        asset_content_type: application/zip

    - name: Upload Asset to Release
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.token }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: jitsi-admin-application.zip
        asset_name: jitsi-admin-application.zip
        asset_content_type: application/zip
