name: Build Pipeline


on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Write Version
        uses: jacobtomlinson/gha-find-replace@v3
        with:
          find: "laF_version=2.0.0-dev"
          replace: "laF_version=GITHUB.${{github.run_number}}"
          regex: false
          include: ".env.local"

      - name: Build Websocket
        working-directory: nodejs/
        run: npm install

      - name: Clean up Build
        run: |
          rm -rf ./.github
          rm -rf ./.git

      - name: Move Env Variable
        run: cp ./.env.sample ./.env.local

      - name: zip Application
        uses: montudor/action-zip@v1
        with:
          args: zip -qq -r jitsi-admin-application.zip .

      - name: zip websocket
        uses: montudor/action-zip@v1
        with:
          args: zip -qq -r jitsi-admin-websocket.zip nodejs/

      - name: Create new Release
        uses: actions/create-release@v1
        id: create_release
        with:
          draft: false
          prerelease: false
          release_name: Release_${{github.run_number}}
          tag_name: ${{github.run_number}}
        env:
          GITHUB_TOKEN: ${{ secrets.token }}
  
      - name: Upload Asset to Release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.token }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: jitsi-admin-websocket.zip
          asset_name: jitsi-admin-websocket.zip
          asset_content_type: application/zip

      - name: Upload Asset to Release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.token }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: jitsi-admin-application.zip
          asset_name: jitsi-admin-application.zip
          asset_content_type: application/zip
