name: Build artefacts for testing the build pipeline

on: push

jobs:
  build:
    uses: holzi1005/test-workflow/.github/workflows/artifact.yml@main
  test:
    uses: holzi1005/test-workflow/.github/workflows/test.yml@main
