name: Create Release

on:
  push:
    branches:
      - main
      - master

jobs:
  build:
    uses: holzi1005/test-workflow/.github/workflows/artifact.yml@main


  release:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: paulhatch/semantic-version@v5.0.2
        with:
          # The prefix to use to identify tags
          tag_prefix: "v"
          major_pattern: "(MAJOR)"
          major_regexp_flags: ""
          minor_pattern: "(MINOR)"
          minor_regexp_flags: ""
          version_format: "${major}.${minor}.${patch}-prerelease${increment}"
          change_path: "src/my-service"
          namespace: my-service
          bump_each_commit: false
          search_commit_body: false
          user_format_type: "csv"
          enable_prerelease_mode: true

      - uses: actions/download-artifact@v3
        with:
          name: jitsi-admin-application_${{github.run_number}}
          path: jitsi-admin-application_${{github.run_number}}

      - uses: actions/download-artifact@v3
        with:
          name: jitsi-admin-websocket_${{github.run_number}}
          path: jitsi-admin-websocket_${{github.run_number}}

      - name: Archive Release Application
        uses: thedoctor0/zip-release@0.7.1
        with:
          type: 'zip'
          path: jitsi-admin-application_${{github.run_number}}
          filename: jitsi-admin-application_${{github.run_number}}.zip
          exclusions: '*.git* /*node_modules/* .editorconfig /*nodejs/*' 

      - name: Archive Release Websocket
        uses: thedoctor0/zip-release@0.7.1
        with:
          type: 'zip'
          path: jitsi-admin-websocket_${{github.run_number}}
          filename: jitsi-admin-websocket_${{github.run_number}}.zip
          exclusions: '*.git* .editorconfig' 

      - name: Create new Release
        uses: actions/create-release@master
        id: create_release
        with:
          draft: false
          prerelease: false
          release_name: Release ${{github.run_number}}
          tag_name: ci_${{github.run_number}}
        env:
          GITHUB_TOKEN: ${{ secrets.token }}

      - name: Upload Asset to Release
        uses: actions/upload-release-asset@master
        env:
          GITHUB_TOKEN: ${{ secrets.token }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: jitsi-admin-websocket_${{github.run_number}}.zip
          asset_name: jitsi-admin-websocket.zip
          asset_content_type: application/zip

      - name: Upload Asset to Release
        uses: actions/upload-release-asset@master
        env:
          GITHUB_TOKEN: ${{ secrets.token }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: jitsi-admin-application_${{github.run_number}}.zip
          asset_name: jitsi-admin-application.zip
          asset_content_type: application/zip
