name: Create Release

on:
  push:
    branches:
      - main
      - master

jobs:
  build:
    uses: holzi1005/test-workflow/.github/workflows/artifact.yml@main

  release:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: paulhatch/semantic-version@v5.0.2
        id: version
        with:
          # The prefix to use to identify tags
          tag_prefix: "v"
          major_pattern: "(MAJOR)"
          minor_pattern: "(MINOR)"
          change_path: .
          version_format: "${major}.${minor}.${patch}-RC${increment}"
          bump_each_commit: true
          search_commit_body: true

      - uses: actions/download-artifact@v3
        with:
          name: jitsi-admin_${{github.run_number}}
          path: jitsi-admin_${{github.run_number}}

      - name: Archive Release Application
        uses: thedoctor0/zip-release@0.7.1
        with:
          type: 'zip'
          directory: jitsi-admin_${{github.run_number}}
          exclusions: '*.git* *.github* *.gitlab* /*node_modules/* .editorconfig /*nodejs/*' 

      - name: Archive Release Websocket
        uses: thedoctor0/zip-release@0.7.1
        with:
          type: 'zip'
          directory: jitsi-admin_${{github.run_number}}/nodejs

      - name: Create new Release
        uses: actions/create-release@master
        id: create_release
        with:
          draft: false
          prerelease: false
          release_name: Release ${{ step.version.outputs.version }}
          tag_name: ${{ step.version.outputs.version }}
        env:
          GITHUB_TOKEN: ${{ secrets.token }}

      - name: Upload Websocket Asset to Release
        uses: actions/upload-release-asset@master
        env:
          GITHUB_TOKEN: ${{ secrets.token }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: jitsi-admin_${{github.run_number}}/nodejs/release.zip
          asset_name: jitsi-admin-websocket.zip
          asset_content_type: application/zip

      - name: Upload Application Asset to Release
        uses: actions/upload-release-asset@master
        env:
          GITHUB_TOKEN: ${{ secrets.token }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: jitsi-admin_${{github.run_number}}/release.zip
          asset_name: jitsi-admin-application.zip
          asset_content_type: application/zip
