name: Create Release
env:
  GITHUB_TOKEN: ${{ secrets.token }}
on:
  push:
    branches:
      - main
      - master

jobs:
  build:
    uses: holzi1005/test-workflow/.github/workflows/artifact.yml@main
  tag:
    uses: holzi1005/test-workflow/.github/workflows/create_release.yml@main

  release:
    needs:
      - build
      - tag

    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: jitsi-admin_${{github.run_number}}

      - run: unzip -qq jitsi-admin_${{github.run_number}}.zip -d release_folder

      - name: Write semantic Version in .env.local
        uses: jacobtomlinson/gha-find-replace@v3
        with:
          find: "laF_version=2.0.0-dev"
          replace: "laF_version=${{ needs.tag.outputs.tag }}"
          regex: false
          include: "release_folder/.env.local"

      - name: Archive Release for application
        uses: thedoctor0/zip-release@0.7.1
        with:
          type: 'zip'
          filename: 'application_release.zip'
          exclusions: '*.git* *.github* /*node_modules/* .editorconfig'
          directory: release_folder

      - name: Archive Release for websocket
        uses: thedoctor0/zip-release@0.7.1
        with:
          type: 'zip'
          filename: 'websocket_release.zip'
          directory: release_folder/nodejs

      - name: Upload Websocket Asset to Release
        uses: actions/upload-release-asset@master
        with:
          upload_url: ${{ needs.tag.outputs.upload_url }}
          asset_path: release_folder/nodejs/websocket_release.zip
          asset_name: websocket.zip
          asset_content_type: application/zip

      - name: Upload Application Asset to Release
        uses: actions/upload-release-asset@master
        with:
          upload_url: ${{ needs.tag.outputs.upload_url }}
          asset_path: release_folder/application_release.zip
          asset_name: application.zip
          asset_content_type: application/zip
