name: Development

on: workflow_call

jobs:
  setup:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: ${{ secrets.MYSQL_ROOT_PASSWORD }}

    steps:

      - uses: actions/download-artifact@v3
        with:
          name: jitsi-admin_${{github.run_number}}
          path: jitsi-admin_${{github.run_number}}.zip

      - uses: montudor/action-zip@v1
        with:
          args: unzip -qq jitsi-admin_${{github.run_number}}.zip -d jitsi-admin_${{github.run_number}}

      - name: MySQL start
        run: |
          sudo /etc/init.d/mysql start
          sudo mysql --user=root --password=${{ secrets.MYSQL_ROOT_PASSWORD }} -e "CREATE USER 'jitsiadmintest'@'localhost' IDENTIFIED  BY 'password';"
          sudo mysql --user=root --password=${{ secrets.MYSQL_ROOT_PASSWORD }} -e "GRANT ALL PRIVILEGES ON jitsiadmintest.* TO 'jitsiadmintest'@'localhost';"
          sudo mysql --user=root --password=${{ secrets.MYSQL_ROOT_PASSWORD }} -e "FLUSH PRIVILEGES;"

      - name: Run PHP-Unit tests
        working-directory: jitsi-admin_${{github.run_number}}
        run: php composer.phar test
